<!---------- レシピ投稿フォーム -------------->
<% breadcrumb :new_recipe %>

<script>
  var view = {
    title: '<%= @post_recipe[:title] %>',
    introduction: '<%= @post_recipe[:introduction] %>',
    post_recipe_image: '<%= @post_recipe[:post_recipe_image] %>',
    procedures: '<%= @post_recipe[:procedures] %>',
    user_id: '<%= current_user.id %>',
  };
</script>

<div id='vue'></div>
<%= javascript_pack_tag 'post_recipes_new' %>  