<!DOCTYPE html>
<html>
  <head>
    <title>CookHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%
=begin%>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
  </head>

  <body>
    <div id='footer-position'>
      <main>
        <%= render 'layouts/header' %>
        <%= render 'layouts/flash' %>
        <%= breadcrumbs separator: " &rsaquo; ", class:'text-dark', id:'breadcrumbs-style' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </main>
    </div>
  </body>
</html>
